
<p-toolbar [style]="{background: 'blue'}">
    <div class="p-toolbar-group-start" >
        <span>
            <a routerLink="/">
                <img class="logo" src="assets/img/logo.webp" alt="logo">
            </a> 
        </span>        
    </div>
    <div class="p-toolbar-group-end">
        <p-button icon="pi pi-search" class="mr-2"></p-button>
        <p-button icon="pi pi-calendar" styleClass="p-button-success mr-2"></p-button>
        <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
    </div>
</p-toolbar>
