/* ::ng-deep .p-sidebar-mask {
    background-color: transparent !important;
  } */

/* ::ng-deep .p-sidebar-active  {
  background-color: rgb(17, 17, 17); 
} */

.custon-sidebar{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}